.mainContainer{
    background-color: #F4F7FC;
    padding: 20px;
    border-radius: 10px;
    height: 600px;
}
.formContainer{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}