.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: aquamarine;
    height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../assets/images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-family: "Merriweather", serif;
}

.header__searchbox {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 45%;
    padding: 15px;
    caret-color: #275a53;
    transition: all 300ms ease-in-out;
}

.header__input:focus {
    outline: none;
    border: 2px solid #275a53;
}

.header__button {
    padding: 14px 45px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    color: white;
    background: #064420;
    border-radius: 3px;
    font-size: 1.1rem;
    transition: all 300ms ease-in-out;
}

.header__button:hover {
    transform: translateY(-2px);
    background-color: teal;
}
