.formContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.formCard {
    width: 500px;
    padding: 10px 20px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 8px 8px 25px #ababab, -8px -8px 25px #ffffff;
}
